<div class="container">
    <h1>Mixter Cocktail</h1>
      <p>This challenge is tough!!</p>


    <div class="row">
        <% @cocktails.each do |cocktail| %>
      <div class="col-4">
          <h2><%= link_to "#{cocktail.name}", cocktail_path(cocktail) %></h2>

            <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
      </div>
        <% end %>
    </div>
</div>





